.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
   
}
.product-name{
    color: blue;
    font-weight: 400px;
    
}
.products{
    margin: 20px;
}
.main-button{
    background-color: goldenrod;
    height: 30px;
    width: 200px;
    border: 1px solid rgba(102, 95, 95, 0.459);
    border-radius: 5px;
    cursor: pointer;
    
}